@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap';

/* Estilos Generales del Cuerpo */
body {
    background: 
        radial-gradient(circle at 67.6% 20.39%, rgba(255, 255, 255, 0.5), transparent 69%),
        radial-gradient(circle at 88.75% 28.67%, rgba(255, 255, 255, 0.5), transparent 60%),
        radial-gradient(circle at 13.33% 0.38%, #c8f7f4, transparent 38%),
        radial-gradient(circle at 86.77% 1.6%, #bfd4f5, transparent 39%),
        radial-gradient(circle at 81.09% 74.15%, rgba(255, 255, 255, 0.5), transparent 57%),
        radial-gradient(circle at 67.81% 96.71%, #bedbf7, transparent 36%),
        radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%) !important;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    padding: 0px;
    margin: 0px;
}

body #office {
    text-transform: uppercase;
}

body #without-procedure-front {
    display: none;
}

/* Clases de Utilidad */
body .center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body .circle-space {
    background-color: #fff;
    border-radius: 100px;
    height: 30px;
    box-sizing: border-box;
    margin: 0px 30px;
    margin-top: 20px;
}

body .breadcrumb {
    text-align: center;
    font-size: 12px;
}

body .breadcrumb a {
    color: initial;
    text-decoration: none;
    cursor: auto;
    background-color: initial;
    text-shadow: none;
}

body .breadcrumb .active {
    color: #777;
}

body .dark-blue {
    color: #002d55 !important;
}

/* Título Principal */
body h1 {
    font-family: "Open Sans" !important;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
}

/* Contenedor Principal (Caja) */
body .box {
    box-sizing: border-box;
    margin: 45px;
    background-color: #fff;
    padding: 20px;
    border-radius: 35px;
}

body .box .id-number {
    font-size: 16px !important;
    font-weight: bolder !important;
}

/* Campo de Entrada (nuip) */
body .box #nuip {
    background-color: #fff !important;
    border: 2px solid #002d55 !important;
    border-radius: 35px !important;
    box-sizing: border-box !important;
    color: #999;
    display: block !important;
    font-family: "Open Sans" !important;
    font-size: 16px !important;
    font-weight: normal !important;
    height: 60px !important;
    margin-bottom: 4px !important;
    padding: 16px !important;
    text-transform: lowercase;
    width: 100% !important;
}

/* Botón de Envío (send) */
body .box #send {
    border: none;
    background-color: #002d55 !important;
    background-repeat: no-repeat !important;
    background-size: auto;
    border-radius: 45px;
    color: #fff;
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
    font-size: 1em !important;
    height: 45px;
    margin: 0px auto;
    margin-top: 1em !important;
    padding: 3px;
